.attribution {
  font-size: 11px;
  margin-top: 1rem;
  text-align: center;
  padding-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  align-content: center;
  background-image: url("../../images/bg-pattern-top-mobile.svg"), url("../../images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  font-family: $font-primary;
  font-size: 0.9375rem;
  margin: 6rem 1.5rem;
}

h1 {
  background-color: transparent;
  color: $dark-purple;
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: $font-weight-heavy;
  margin: 0;
}

h2 {
  background-color: transparent;
  color: $gray-purple;
  font-family: $font-primary;
  font-size: 0.9375rem;
  font-weight: $font-weight-medium;
  line-height: 1.5rem;
  margin: 0;
}

h3 {
  color: $white;
  font-family: $font-primary;
  font-size: 0.9375rem;
  font-weight: $font-weight-heavy;
  margin: 0 0 0.3rem;
}

h4 {
  color: $pink;
  font-family: $font-primary;
  font-size: 0.9375rem;
  font-weight: $font-weight-light;
  margin: 0;
}
// Intro Copy

.row {
  margin: 0;
}

.intro-copy-star-review-container {
  margin-bottom: 4rem;
}

.intro-copy-container {
  margin: 0 0 2.75rem;
  padding: 0;
  text-align: center;
}

.main-headline-container {
  margin: 0 0 1.5rem;
}
// Star Review

.star-review-container {
  padding: 0;
}

.star-review-wrapper {
  background-color: $light-gray;
  border-radius: 10px;
  color: $dark-purple;
  display: flex;
  flex-wrap: wrap;
  font-weight: $font-weight-heavy;
  justify-content: center;
  margin: 0 0 1rem;
  max-width: 324px;
  padding: 1rem 0;
}

.star-review-1 {
  margin-top: 0;
}

.star-review-3 {
  margin-bottom: 0;
}

.stars-row {
  margin-bottom: 0.75rem;
}

.review-star {
  margin: 0 0.15rem;
}

.star-review-text {
  text-align: center;
}
/* Testimonials */
.testimonial-container {}

.testimonial-wrapper {
  background-color: $dark-purple;
  border-radius: 10px;
  color: $light-gray;
  margin: 0 0 1rem;
  padding: 2.5rem 2rem;
}

.testimonial-image {
  border-radius: 50%;
  float: left;
  margin-right: 1.5rem;
  max-width: 20%;
}

.testimonal-person-info {
  align-items: center;
  display: flex;
  padding-bottom: 2rem;
}

.testimonial-text {
  color: $light-gray;
  font-size: 0.8125rem;
  font-weight: $font-weight-light;
  line-height: 1.5rem;
}
// Media Queries //
// Mobile Finetuning
@media (min-width: 376px) {
  body {
    background-image: url("../../images/bg-pattern-top-desktop.svg"), url("../../images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
  }
  @media (max-width: 767px) {
    .star-review-1 {
      position: static;
    }

    .star-review-2 {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    .star-review-3 {
      left: 100%;
      position: relative;
      transform: translateX(-100%);
    }

    .testimonial-1 {
      position: static;
    }

    .testimonial-2 {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }

    .testimonial-3 {
      left: 100%;
      position: relative;
      transform: translateX(-100%);
    }
  }
}
// Tablet Finetuning
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .intro-copy-container {
    margin: 0;
    text-align: left;
  }

  .main-headline-container {
    margin: 0 0 1rem;
    max-width: 391px;
  }

  .subheadline-container {
    width: 425px;
  }

  .star-review-wrapper {
    padding: 1.25rem 0;
  }

  .testimonial-container {
    justify-content: center;
  }

  .testimonial-1 {
    margin: 0 1rem 1rem 0;
  }

  .testimonial-2 {
    margin: 0 1rem 1rem;
  }

  .testimonial-3 {
    margin: 1rem 0 0 1rem;
  }
  @media (max-width: 919px) {
    .star-review-wrapper {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }
}
@media (min-width: 920px) {
  .star-review-wrapper {
    justify-content: left;
    margin-top: 1rem;
    max-width: 475px;
  }

  .stars-row {
    margin: 0 2rem;
  }

  .star-review-1 {
    position: static;
  }

  .star-review-2 {
    left: 50%;
    max-width: 475px;
    position: relative;
    transform: translateX(-50%);
  }

  .star-review-3 {
    left: 100%;
    position: relative;
    transform: translateX(-100%);
  }
}
@media (min-width: 992px) {
  .subheadline-container {
    width: 453px;
  }

  .testimonial-text {
    font-size: 1.05rem;
    line-height: 1.75rem;
  }

  .testimonial-1 {
    position: static;
  }

  .testimonial-2 {
    position: relative;
    top: 1rem;
  }

  .testimonial-3 {
    position: relative;
    top: 1rem;
  }
}
@media (min-width: 1440px) {
  body {
    margin: 6rem auto;
    max-width: 1391px;
  }
}
