.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  align-content: center;
  background-image: url("../../images/bg-pattern-top-mobile.svg"), url("../../images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  font-family: $font-primary;
  font-size: 0.9375rem;
  margin: 5rem 1.5rem;

}

h1 {
  background-color: transparent;
  color: $dark-purple;
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: $font-weight-heavy;
  margin-bottom: 1.75rem;
}

h2 {
  background-color: transparent;
  color: $gray-purple;
  font-family: $font-primary;
  font-size: 0.9375rem;
  font-weight: $font-weight-medium;
  line-height: 1.5rem;
  margin: 0 .1rem 1.5rem;
}

h3 {
  font-color: $white;
  font-family: $font-primary;
  font-size: 0.9375rem;
  font-weight: $font-weight-heavy;
  margin: 0 0 0.3rem;
}

h4 {
  color: $pink;
  font-family: $font-primary;
  font-size: 0.9375rem;
  font-weight: $font-weight-light;
  margin: 0;
}

.row {
  margin: 0;
}

.copy-intro {
  text-align: center;
  padding: 0;
}
/* Star Review */
.star-review-container {
  margin-bottom: 1.75rem;
  padding: 0;
  // position: relative;
  // left: 50%;
  // transform: translateX(-50%);
}

.star-review-wrapper {
  background-color: $light-gray;
  border-radius: 10px;
  color: $dark-purple;
  display: flex;
  flex-wrap: wrap;
  font-weight: $font-weight-heavy;
  margin: 1rem 0;
  padding: 1rem 0;
  justify-content: center;
  max-width: 324px;
}

.stars-row {
  margin-bottom: 0.75rem;
}

.review-star {
  margin: 0 0.15rem;
}
 .star-review-text {
   text-align: center;
 }


/* Testimonials */
.testimonial-section {}

.testimonial-image {
  border-radius: 50%;
  float: left;
  max-width: 20%;
  margin-right: 1.5rem;
}

.testimonal-person-info {
  display: flex;
  align-items: center;
}

.testimonial-text {
  color: $light-gray;
  font-size: 0.8125rem;
  font-weight: $font-weight-light;
  line-height: 1.5rem;
  padding-top: 2rem;
}

.testimonial-wrapper {
  background-color: $dark-purple;
  border-radius: 10px;
  color: $light-gray;
  margin: 0.5rem 0;
  padding: 2.5rem 2rem;
}


// Mobile

// Finetuning - Portrait
// @media (max-width: 439px) {
//   .star-review-container {
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//   }
// }

@media (min-width: 375px) and (max-width: 575px) {
.star-review-container {
  position: relative;
  max-width: 100%;
}

  .star-review-1 {
    position: static;
    // left: 33%;
    // transform: translateX(-33%);

  }

  .star-review-2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .star-review-3 {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }
}

// Finetuning - Landscape
// @media (min-width: 576px) {
//   .star-review-container {
//     margin-bottom: 1.75rem;
//     max-width: 324px;
//     padding: 0;
//   }
//
//   .copy-intro {
//     // margin-top: 3.25rem;
//   }
// }

//Tablet

// Finetuning Portrait
@media (min-width: 768px) and (max-width: 960px) {
//   // .star-review-container {
//   //   max-width: 372px;
//   // }

  .copy-intro {
    margin-top: 3.75rem;
  }
}
@media (min-width: 768px) {
  body {
    background-image: url("../../images/bg-pattern-top-desktop.svg"), url("../../images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
  }
}
